*{
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: #EAEDED;
  height: 100%;
}
html{
  background-color: #D5D8DC;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #D5D8DC;
  width: 100%;
}
.header > i, 
.header > h1 {
  padding: 0.5rem;
}
.general-info {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5em;
  height: 430px;
  border-radius: 1rem;
}
.textLabel {
  padding: 0.4rem 0rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 20px;
  background-color: inherit;
}

input.name:focus {
  border: 1px solid black;
  padding: 0.325rem 0rem;
  outline: none;
  width: 12rem;
}

input.textLabel:focus {
  border: 1px solid black;
  padding: 0.33rem 0rem;
  outline: none;
  width: 12rem;
}

input.name:focus,
h2.name {
  font-size: 25px;
  font-weight: 700;
}

.general-info--right {
  position: absolute;
  left: 70rem;
}
.general-info--right {
  position: absolute;
}
h2.textLabel {
  font-weight: 700;
  font-size: 25px;
}
.general-info--hr {
  position: absolute;
  width: 90%;
  top: 24rem;
  left: 4rem;
  right: 4rem;
  border: 2px dashed black;
}
.education {
  position: relative;

}