*{
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html{
  background-color: #D5D8DC;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #D5D8DC;
  width: 100%;
  font-size: 20px;
}
.header > i, 
.header > h1 {
  padding: 0.5rem;
}
.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #EAEDED;
}
.general-info > section {
  display: flex;
  justify-content: space-between;
}
.textLabel {
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 20px;
  background-color: inherit;
  padding: 1rem;
  margin: 0;
}
input.name:focus {
  outline: none;
  border: none;
  font-size: 25px;
  font-weight: 700;
  width: 12rem;

}

input.textLabel:focus {
  outline: none;
  border: none;
  width: 12rem;
}

h2.textLabel {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
}
.general-info--left,
.general-info--right {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.education,
.work-experience,
.skills {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
  background-color: #EAEDED;
}
.skills {
  margin-bottom: 5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.education > form > div,
.work-experience > form > div,
.skills > form > div {
  text-align: center;
  padding: 1rem;
}
.education > h1,
.work-experience > h1,
.skills > h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}
.button {
  width: 7.5rem;
  height: 2rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
}
.button--icon {
  padding-right: 0.5rem;
}
.form--buttons {
  display: flex;
  justify-content: center;
}
.education--span,
.general-info--span,
.work-experience--span {
  width: 100%;
  border: 1px dashed black;
  height: 0rem;
  position: relative;
  margin: 1rem 0rem;
}
.content {
  display: flex;
  width: 100%;
  max-width: 800px;
}
.skills {
  padding-bottom: 3rem;
}
input, textarea {
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: #EAEDED;
  width: 100%;
  padding: 0.5rem;
}
label{
  margin: 1rem;
}
input:focus{
  background-color: #EAEDED;
}
form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
form > div { 
  display: flex;
  align-items: center;
}
.add--btn {
  width: 100%;
}
.button--add {
  width: 7.5rem;
  height: 2rem;
  border-radius: 0.25rem;
  margin: 1rem;
  background-color: rgba(28, 130, 71, 0.5);
  border: none;
}
.button--cancel {
  width: 7.5rem;
  height: 2rem;
  border-radius: 0.25rem;
  margin: 1rem;
  background-color: rgba(231, 77, 60, 0.6);
  border: none;
}
a {
  color: black;
}
.remove {
  margin-left: 1rem;
}
.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0.2rem 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
.contents > div {
  display: flex;
}
.contents > div > p {
  padding: 1rem;
}

@media screen and (max-width: 500px) {
  .content {
    flex-direction: column;
    padding: 2rem;
  }
  .education > form > div,
  .work-experience > form > div,
  .skills > form > div {
    flex-direction: column;
    padding: 0;
  }
  .general-info--left,
  .general-info--right{
    width: 100%;
  }
}
